/* Navbar Temel Stilleri */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #0f0f0f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid #222;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: none;
    height: 60px;
}


.navbar-logo .logo-text {
    font-size: 22px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}


.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 40px;
    transition: all 0.3s ease;

}


.navbar-links li {
    display: inline-block;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-links li a:hover {
    color: #a855f7;
}


.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.hamburger-menu .bar {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
}


.navbar-links.open {
    display: flex;

    flex-direction: column;

    gap: 20px;
    padding: 10px;
    background-color: #0f0f0f;
    width: 250px;

    position: absolute;
    top: 60px;

    right: 0;

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transform: translateX(100%);

    transition: transform 0.3s ease-in-out;

}

.navbar-links.open.show {
    transform: translateX(0);

}

@media (max-width: 768px) {
    .navbar-links {
        display: none;

    }

    .hamburger-menu {
        display: flex;

    }


    .navbar-logo .logo-text {
        display: none;

    }

    .navbar-logo .logo-text-mobile {
        display: block;

    }

    .navbar-links.open.show {
        display: flex;

        width: 100%;

        padding: 20px;

    }


    .navbar-links li a {
        padding: 10px 20px;

        font-size: 18px;

    }
}


@media (min-width: 769px) {


    .hamburger-menu {
        display: none;
    }


    .navbar-links {
        display: flex;
    }

    .navbar-logo .logo-text-mobile {
        display: none;

    }
}