body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;

  background: #140021;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;


}